/* ================================================================
variables */
/* color variables */
/* background variables */
/* box-shadow variables */
/* transitions */
/* ================================================================
general */
:root {
  font-size: 15px;
}

body {
  /* ================================================================
    #group-sidebar */
  /* ================================================================
    sections */
  /* ================================================================
    #ults */
  /* ================================================================
    #groups */
  /* ================================================================
    #content-dashboard */
}

body,
body .loader {
  background: -webkit-gradient(linear, left top, right top, from(#f7cbca), to(#94b4eb));
  background: linear-gradient(to right, #f7cbca, #94b4eb);
}

body h2 {
  padding-bottom: 1vw;
}

body main {
  -ms-grid-column: 2;
  -ms-grid-column-span: 6;
  grid-column: 2 / 8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 13;
  grid-row: 2 / 15;
  margin: 0 5vw 50px;
}

@media (min-width: 576px) {
  body .modal-dialog {
    max-width: 500px;
  }
}

body .modal li {
  padding: 0.5vh;
}

body .modal .modal-img {
  border: 1px solid #666666;
  border-radius: 5px;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  width: 90%;
}

body .construction-gif {
  height: 20vw;
}

body #group-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column: 1;
  grid-column: 1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 13;
  grid-row: 2 / 15;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4vh 3vw;
  min-width: 150px;
}

body #group-sidebar #group-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  overflow: auto;
  /* scrollbar for group-nav */
}

body #group-sidebar #group-nav::-webkit-scrollbar {
  width: 6px;
}

body #group-sidebar #group-nav::-webkit-scrollbar-track {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 4px #666666;
          box-shadow: inset 0 0 4px #666666;
}

body #group-sidebar #group-nav::-webkit-scrollbar-thumb {
  background: #666666;
  border-radius: 10px;
  /* Handle on hover */
}

body #group-sidebar #group-nav::-webkit-scrollbar-thumb:hover {
  background: #1a1a1a;
}

body #group-sidebar #group-nav #group-nav-header,
body #group-sidebar #group-nav .nav-item {
  margin: 0.25vh 2vh;
}

body #group-sidebar #group-nav .nav-item {
  border-radius: 5px;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

body #group-sidebar #group-nav .nav-item:hover {
  background: black;
}

body #group-sidebar #group-nav .nav-item:hover .nav-link {
  color: white;
}

body #group-sidebar #group-nav #group-nav-header {
  border: 2px solid #1a1a1a;
}

body #group-sidebar #group-nav .nav-link {
  color: #1a1a1a;
  padding: 0.5vh;
}

body .kpop-section {
  margin: 5vw 0;
}

body .kpop-section:not(#ults) {
  border: 1px solid #1a1a1a;
  padding: 2vw;
}

body #ults {
  gap: 2vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body #ults .ult {
  background: #1a1a1a;
  border: 1px solid #1a1a1a;
  color: white;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 2vw;
  width: 100%;
}

body #ults .ult-info {
  gap: 1vw;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body #ults .ult-modal {
  color: #1a1a1a;
}

body #ults .ult-btn, body #ults .ult-btn-img {
  aspect-ratio: 1 / 1;
  width: 15vw;
}

body #ults .ult-btn-img {
  -o-object-fit: cover;
     object-fit: cover;
}

body #groups {
  background: #999999;
}

body #groups .group-category {
  background: #d9d9d9;
  border: 1px solid #1a1a1a;
  padding: 2vw;
}

body #groups .group-category-button:hover {
  cursor: pointer;
}

body #groups .group-category:not(:first-of-type) {
  margin-top: 3vw;
}

body #groups .group-category .group {
  background: white;
  border: 1px solid #1a1a1a;
  color: #1a1a1a;
  padding: 2vw;
  /* .group-stats */
  /* .group-info */
}

body #groups .group-category .group:not(:first-of-type) {
  margin-top: 3vw;
}

body #groups .group-category .group:hover {
  cursor: pointer;
}

body #groups .group-category .group-image-btn {
  border: none;
}

body #groups .group-category .group-image-btn:hover {
  aspect-ratio: 1 / 1;
  border: none;
  width: 20px;
}

body #groups .group-category .group-stats {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

body #groups .group-category .group-info {
  border: 0 solid #1a1a1a;
  gap: 1vw;
  margin-top: 1vw;
}

body #groups .group-category .group-info .group-property {
  border: 1px solid #cccccc;
  border-radius: 7px;
  color: #1a1a1a;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 1vw 0;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

body #groups .group-category .group-info .group-property:hover {
  background: #1a1a1a;
  color: white;
}

body #content-dashboard {
  background: #999999;
}

body #content-dashboard .content-table,
body #content-dashboard .content-table * {
  margin: 0 auto;
}

body #content-dashboard .content-table table * {
  padding: 0.75vw;
}

body #content-dashboard .content-table table tbody {
  border-top: 3px solid #1a1a1a;
}

body #content-dashboard .content-table table th,
body #content-dashboard .content-table table td {
  border: 1px solid #1a1a1a;
}

body #content-dashboard .content-table table th {
  background: #e6e6e6;
}

body #content-dashboard .content-table table td {
  background: white;
}

body #content-dashboard .content-table table td.group-name-table {
  background: #e6e6e6;
}

body #content-dashboard .content-table table td.content {
  text-transform: capitalize;
}
/*# sourceMappingURL=kpop.css.map */