/* ================================================================
variables */
/* color variables */
/* background variables */
/* box-shadow variables */
/* transitions */
/* ================================================================
general */
:root {
  font-size: 15px;
}

/* ------------ UTILITIES ------------- */
/* ~~~ ANIMATIONS ~~~ */
/* fade-in animation */
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* fade-out animation */
@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* ~~~ DISPLAY, POSITION ~~~ */
/* full page */
.vh-100 {
  height: 100vh;
}

.vw-100 {
  width: 100vw;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}

/* hidden */
.hidden {
  display: none;
}

/* form inputs */
.input-block {
  margin: 1vw 0;
}

/* initialize flex */
.flex,
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* align vertically */
.flex-align-center,
.flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* align vertically and horizontally */
.flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* grid */
.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8;
      grid-template-columns: 8;
  -ms-grid-rows: 15;
      grid-template-rows: 15;
}

/* fixed position */
.fixed {
  position: fixed;
}

/* ~~~ FLEX DIRECTIONS ~~~ */
/* column */
.dir-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* change to column on mobile */
.dir-change {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

/* ~~~ PADDING ~~~ */
.p-1vw {
  padding: 1vw;
}

.pt-1vw {
  padding-top: 1vw;
}

.m-1vw {
  margin: 1vw;
}

/* ~~~ BORDER-RADIUS ~~~ */
.border-5px,
.border-5px > button {
  border-radius: 5px;
}

.border-10px {
  border-radius: 10px;
}

/* ~~~ TYPOGRAPHY ~~~ */
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.no-decor {
  text-decoration: none;
}

h1,
.uppercase {
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
.text-center {
  text-align: center;
}

.no-link-color {
  color: inherit;
}

.not-applicable {
  color: #eb4763;
}

.single-space {
  line-height: 1;
}

.single-space {
  line-height: 1;
}

/* ~~~ TEXT SIZING ~~~ */
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

figcaption {
  font-size: 1.3rem;
}

.subtitle {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* layout */
/* initialize light and dark themes */
body {
  font-family: Avenir, Helvetica, sans-serif;
  /* initialize dark theme */
  /* set initial background color */
  /* set transparent background */
  /* main padding and grid initialization */
  /* general components */
  /* link color */
  /* buttons in button groups (forms) */
  /* "required" asterisk for inputs */
}

body body,
body .loader {
  background: #c2e0f0;
}

body .transparent-bg * {
  background: transparent;
  color: white;
}

body main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / span 8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 14;
  grid-row: 2 / span 14;
  padding: 50px 0;
}

body a {
  color: #c2e0f0;
}

body .buttons button {
  border: 1px solid #999999;
  padding: 0.5vw 1vw;
}

body .input-block > label::before {
  color: red;
  content: "*";
}
/*# sourceMappingURL=main.css.map */