/* ================================================================
variables */
/* color variables */
/* background variables */
/* box-shadow variables */
/* transitions */
/* ================================================================
general */
:root {
  font-size: 15px;
}

/* ------------ UTILITIES ------------- */
* {
  /* ~~~ ANIMATIONS ~~~ */
  /* fade-in animation */
  /* fade-out animation */
  /* ~~~ DISPLAY, POSITION ~~~ */
  /* full page */
  /* hidden */
  /* form inputs */
  /* initialize flex */
  /* align vertically */
  /* align vertically and horizontally */
  /* grid */
  /* fixed position */
  /* ~~~ FLEX DIRECTIONS ~~~ */
  /* row */
  /* column */
  /* change to column on mobile */
  /* ~~~ PADDING ~~~ */
  /* ~~~ BORDER-RADIUS ~~~ */
  /* ~~~ TYPOGRAPHY ~~~ */
  /* ~~~ TEXT SIZING ~~~ */
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

* .vh-100 {
  height: 100vh;
}

* .vw-100 {
  width: 100vw;
}

* .h-100 {
  height: 100%;
}

* .w-100 {
  width: 100%;
}

* .hidden {
  display: none;
}

* .input-block {
  margin: 1vw 0;
}

* .flex,
* .flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

* .flex-align-center,
* .flex-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* .flex-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 8;
      grid-template-columns: 8;
  -ms-grid-rows: 15;
      grid-template-rows: 15;
}

* .fixed {
  position: fixed;
}

* .dir-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

* .dir-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

* .dir-change {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

* .p-1vw {
  padding: 1vw;
}

* .pt-1vw {
  padding-top: 1vw;
}

* .m-1vw {
  margin: 1vw;
}

* .border-5px,
* .border-5px > button {
  border-radius: 5px;
}

* .border-10px {
  border-radius: 10px;
}

* .bold {
  font-weight: bold;
}

* .italic {
  font-style: italic;
}

* .no-decor {
  text-decoration: none;
}

* h1,
* .uppercase {
  text-transform: uppercase;
}

* h1,
* h2,
* h3,
* h4,
* .text-center {
  text-align: center;
}

* .no-link-color {
  color: inherit;
}

* .not-applicable {
  color: #eb4763;
}

* .single-space {
  line-height: 1;
}

* h1 {
  font-size: 3rem;
}

* h2 {
  font-size: 2rem;
}

* h3 {
  font-size: 1.5rem;
}

* h4 {
  font-size: 1.4rem;
}

* h5 {
  font-size: 1.2rem;
}

* h6 {
  font-size: 1.1rem;
}

* figcaption {
  font-size: 1.3rem;
}

* .subtitle {
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

/* ================================================================
layout */
/* initialize light and dark theme-lights */
body {
  font-family: Avenir, Helvetica, sans-serif;
  /* set initial background color */
  /* set transparent background */
  /* main padding and grid initialization */
  /* general components */
  /* link color */
  /* buttons in button groups (forms) */
  /* "required" asterisk for inputs */
  /* ================================================================
 403,404.shtml */
  /* ================================================================
loading-page.php */
  /* loading display */
  /* ================================================================
header.php */
  /* <header> tag */
  /* initialize dark theme-light */
  /* ================================================================
login-profile.php */
  /* ================================================================
include/footer.php */
}

body,
body .loader {
  background: #c2e0f0;
}

body .transparent-bg * {
  background: transparent;
  color: #1a1a1a;
}

body main {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / span 8;
  -ms-grid-row: 2;
  -ms-grid-row-span: 14;
  grid-row: 2 / span 14;
  padding: 50px 0;
}

body a {
  color: #3d748f;
}

body .buttons button {
  border: 1px solid #999999;
  padding: 0.5vw 1vw;
}

body .input-block > label::before {
  color: red;
  content: "*";
}

body#error {
  background: url("../images/backgrounds/flowers.jpeg") center/cover transparent;
  color: #1a1a1a;
}

body#error .navbar,
body#error .error-main {
  background: rgba(51, 51, 51, 0.6);
}

body#error .error-main {
  padding: 15vh;
}

body#error .gif {
  background: #1a1a1a;
  border-radius: 5vw;
  -webkit-box-shadow: 5px 5px 5px 5px rgba(51, 51, 51, 0.6);
          box-shadow: 5px 5px 5px 5px rgba(51, 51, 51, 0.6);
  width: calc(20vw + 100px);
}

body#error .text {
  padding-top: 6vh;
}

body .loader {
  left: 0;
  top: 0;
  z-index: 99;
  /* when the loader hides */
  /* loading gif */
  /* loading subtitle */
}

body .loader.hidden {
  -webkit-animation: fadeOut 0.5s;
          animation: fadeOut 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

body .loader img {
  width: 25vw;
}

body .loader .subtitle {
  font-size: 1.5rem;
}

body #header-banner {
  -ms-grid-column: 1;
  -ms-grid-column-span: 8;
  grid-column: 1 / span 8;
  -ms-grid-row: 1;
  grid-row: 1;
  margin: 0;
  /* mobile dropdown toggle button */
  /* dropdown list - not using currently */
  /* .dropdown {

            &-list-item {

                &:not(:last-of-type) {
                    border-bottom: 1px solid $clr-gray-80;
                }
            }

            &-item {
                padding: 0.75vw;
                transition: $transition-clr-text, $transition-clr-bg, $transition-clr-border;

                &.active {
                    background: $clr-gray-60;
                }

                &:active {
                    background: $clr-gray-20;
                }

            }

        } */
}

body #header-banner .navbar {
  max-height: 65px;
}

body #header-banner .logo {
  height: 40px;
}

body #header-banner .account {
  /* ~~~ LOGIN / LOGOUT BUTTON ~~~ */
}

body #header-banner .account .login-btn:hover,
body #header-banner .account .logout-btn:hover {
  color: #1a1a1a;
}

body #header-banner .account .login-btn {
  color: #1f7a2e;
}

body #header-banner .account .login-btn, body #header-banner .account .login-btn:hover {
  border-color: #1f7a2e;
}

body #header-banner .account .login-btn:hover {
  background-color: #1f7a2e;
}

body #header-banner .account .logout-btn {
  color: #c20a0a;
}

body #header-banner .account .logout-btn, body #header-banner .account .logout-btn:hover {
  border-color: #c20a0a;
}

body #header-banner .account .logout-btn:hover {
  background-color: #c20a0a;
}

body #header-banner .navbar-toggler {
  border-color: #1a1a1a;
  -webkit-transition: font-size 0.2s ease-in-out;
  transition: font-size 0.2s ease-in-out;
  /* mobile dropdown toggle button icon */
}

body #header-banner .navbar-toggler:hover, body #header-banner .navbar-toggler:focus-visible {
  font-size: 1.4rem;
}

body #header-banner .navbar-toggler-icon {
  color: #1a1a1a;
  height: 100%;
  padding: 0.25rem;
  width: 100%;
}

body #header-banner .navbar-collapse {
  /* profile link and login/out button in desktop dropdown */
  /* content in mobile dropdown */
}

body #header-banner .navbar-collapse .account {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #header-banner .navbar-collapse.collapsing, body #header-banner .navbar-collapse.show {
  background-color: white;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.2);
          box-shadow: 0 0 10px 3px rgba(255, 255, 255, 0.2);
  padding-block: 0.75rem;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
  z-index: 1;
}

body #header-banner .navbar-collapse.collapsing .account, body #header-banner .navbar-collapse.show .account {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body #header-banner .navbar-collapse.collapsing .account .login-btn,
body #header-banner .navbar-collapse.collapsing .account .logout-btn, body #header-banner .navbar-collapse.show .account .login-btn,
body #header-banner .navbar-collapse.show .account .logout-btn {
  margin-block: 0.75rem;
}

body #header-banner .navbar-brand,
body #header-banner .nav-link {
  font-size: 1rem;
  line-height: 1;
  padding: 0.75rem;
  -webkit-transition: font-size 0.2s ease-in-out;
  transition: font-size 0.2s ease-in-out;
}

body #header-banner .navbar-brand:hover, body #header-banner .navbar-brand:focus-visible,
body #header-banner .nav-link:hover,
body #header-banner .nav-link:focus-visible {
  font-size: 1.15rem;
}

body #header-banner .navbar-brand {
  margin-inline: 1.25rem;
}

body.dark-theme {
  /* link color */
  /* dark theme header.php */
}

body.dark-theme .transparent-bg * {
  color: white;
}

body.dark-theme a {
  color: #c2e0f0;
}

body.dark-theme#error {
  color: white;
}

body.dark-theme#error .gif {
  background: white;
}

body.dark-theme #header-banner {
  /* mobile dropdown toggle button glow - dark backgrounds only */
}

body.dark-theme #header-banner .account .login-btn:hover,
body.dark-theme #header-banner .account .logout-btn:hover {
  color: white;
}

body.dark-theme #header-banner .account .login-btn {
  color: #b8e0be;
  /* dark theme glow */
}

body.dark-theme #header-banner .account .login-btn, body.dark-theme #header-banner .account .login-btn:hover {
  border-color: #b8e0be;
  -webkit-box-shadow: inset 0 0 0.5em 0 rgba(255, 255, 255, 0.2), 0 0 0.5em 0 #b8e0be;
          box-shadow: inset 0 0 0.5em 0 rgba(255, 255, 255, 0.2), 0 0 0.5em 0 #b8e0be;
  text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.2), 0 0 0.45em #b8e0be;
}

body.dark-theme #header-banner .account .login-btn:hover {
  background-color: #b8e0be;
}

body.dark-theme #header-banner .account .logout-btn {
  color: #ebadad;
  /* dark theme glow */
}

body.dark-theme #header-banner .account .logout-btn, body.dark-theme #header-banner .account .logout-btn:hover {
  border-color: #ebadad;
  -webkit-box-shadow: inset 0 0 0.5em 0 rgba(255, 255, 255, 0.2), 0 0 0.5em 0 #ebadad;
          box-shadow: inset 0 0 0.5em 0 rgba(255, 255, 255, 0.2), 0 0 0.5em 0 #ebadad;
  text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.2), 0 0 0.45em #ebadad;
}

body.dark-theme #header-banner .account .logout-btn:hover {
  background-color: #ebadad;
}

body.dark-theme #header-banner .navbar-toggler {
  border-color: white;
  -webkit-box-shadow: inset 0 0 0.5em 0 rgba(255, 255, 255, 0.2), 0 0 0.5em 0 currentColor;
          box-shadow: inset 0 0 0.5em 0 rgba(255, 255, 255, 0.2), 0 0 0.5em 0 currentColor;
  text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.2), 0 0 0.45em currentColor;
}

body.dark-theme #header-banner .navbar-toggler-icon {
  color: white;
}

body.dark-theme #header-banner .navbar-collapse {
  /* content in mobile dropdown - dark backgrounds */
}

body.dark-theme #header-banner .navbar-collapse.collapsing, body.dark-theme #header-banner .navbar-collapse.show {
  background-color: #1a1a1a;
  border: 1px solid #333333;
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
}

body #profile #profile-form {
  background: #cccccc;
  border: 1px solid #666666;
  margin: 1.5vw 7vw;
  padding: 2vw;
}

body footer {
  bottom: 2vw;
  position: fixed;
  right: 2vw;
}

body footer .footer-btn {
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  color: black;
  overflow: hidden;
  -webkit-transition: font-size 0.2s ease-in-out;
  transition: font-size 0.2s ease-in-out;
}

body footer .footer-btn:hover {
  border: 1px solid #cccccc;
  -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
  font-size: 1.1rem;
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */