/* ================================================================
stranger-things.php */

#stranger-things {
    --bg-color: var(--clr-black);
    
    color: var(--clr-white);
}

#stranger-things h1 {
    color: var(--clr-red-bright);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--clr-red-bright);
}

#stranger-things h2 {
    font-size: 2rem;
}

#stranger-things h3 {
    font-size: 1.3rem;
}

#stranger-things main {
    padding: 50px 20vw;
}

#stranger-things #intro .no-link-color {
    color: var(--clr-white);
}

#stranger-things #plot {
    margin: 40px 0;
}

/* season */
#stranger-things .season {
    background: var(--clr-white);
    border: 1px solid var(--clr-gray-40);
    color: var(--clr-black);
    padding: 2vw 3vw;
}

/* space between seasons */
#stranger-things .season:not(:first-of-type) {
    margin-top: 50px;
}

/* character */
#stranger-things .character {
    padding: 20px 0;
}

/* horizontal line between every character */
#stranger-things .character:not(:last-child) {
    border-bottom: 1px solid var(--clr-gray-60);
}

/* character image and name */
#stranger-things .character-image-name {
    width: 40%;
}

/* character image carousel */
#stranger-things .character-image-carousel {
    aspect-ratio: 9 / 16;
    margin: auto auto 10px;
    width: 80%;
}

/* don't hide season caption on mobile */
#stranger-things .carousel-caption.d-none {
    display: block!important;
    font-size: 1rem;
}

#stranger-things .character-image {
    aspect-ratio: 9 / 16;
    object-fit: cover;
}

/* character description */
#stranger-things .character-description {
    padding-left: 2vw;
    width: 60%;
}

/* character description items */
#stranger-things .character-description-item {
    margin-bottom: 5px;
}

/* ================================================================ */