/* ================================================================
general */
#stranger-things {
  --body-bg: var(--clr-black);
  color: var(--clr-white);
}

#stranger-things,
#stranger-things .loader {
  background: var(--body-bg);
}

#stranger-things h1 {
  color: var(--clr-red-bright);
  text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.3), 0 0 0.45em var(--clr-red-bright);
}

#stranger-things h2 {
  font-size: 2rem;
}

#stranger-things h3 {
  font-size: 1.3rem;
}

#stranger-things main {
  padding: 50px 15vw;
}

#stranger-things main .intro-rank {
  gap: var(--section-spacing);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: var(--section-spacing) 5vw 0;
}

#stranger-things main .intro-rank .intro .no-link-color {
  color: var(--theme-text);
}

#stranger-things main .intro-rank .intro .countdown:not(.hidden) {
  -webkit-animation: glow 1.3s;
          animation: glow 1.3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

#stranger-things main .intro-rank .intro .plot {
  margin-top: var(--section-spacing);
}

#stranger-things main .intro-rank .intro .edits {
  background: red;
}

#stranger-things main .intro-rank .intro .edits-container img {
  aspect-ratio: 1 / 1;
  width: 20rem;
}

#stranger-things main .characters {
  margin-inline: 5vw;
  /* season */
  /* character */
}

#stranger-things main .characters .season {
  background: var(--clr-white);
  border: 1px solid var(--clr-gray-40);
  color: var(--clr-black);
  margin-top: 40px;
  padding: 2vw 3vw;
  /* space between seasons: only add to .season if there is another .season before it */
  /* & + .season {
                margin-top: 50px;
            } */
}

#stranger-things main .characters .character {
  padding: 20px 0;
  /* horizontal line between every character */
  /* character image and name */
  /* character description */
}

#stranger-things main .characters .character:not(:last-child) {
  border-bottom: 1px solid var(--clr-gray-60);
}

#stranger-things main .characters .character .no-link-color {
  color: var(--clr-black);
}

#stranger-things main .characters .character-image-name {
  margin-block: auto;
  width: 40%;
  /* character image carousel */
}

#stranger-things main .characters .character-image-name .character-image-carousel {
  margin: auto auto 10px;
  width: 80%;
  /* don't hide season caption on mobile */
}

#stranger-things main .characters .character-image-name .character-image-carousel,
#stranger-things main .characters .character-image-name .character-image-carousel .character-image {
  aspect-ratio: 2 / 3;
}

#stranger-things main .characters .character-image-name .character-image-carousel .character-image {
  -o-object-fit: cover;
     object-fit: cover;
}

#stranger-things main .characters .character-image-name .character-image-carousel .carousel-caption.d-none {
  display: block !important;
  font-size: 1rem;
}

#stranger-things main .characters .character-description {
  line-height: 1.5;
  padding-left: 2vw;
  width: 60%;
  /* character description items */
}

#stranger-things main .characters .character-description-item {
  margin-bottom: 5px;
}

#stranger-things main .episodes {
  background: var(--clr-white);
  border: 1px solid var(--clr-gray-40);
  color: var(--clr-black);
  margin-top: 40px;
}

#stranger-things main .episodes,
#stranger-things main .episodes .season,
#stranger-things main .episodes .episode {
  padding: 2vw 3vw;
}

#stranger-things main .episodes .season,
#stranger-things main .episodes .episode {
  border: 1px solid var(--clr-gray-60);
}

#stranger-things main .episodes .season {
  background: var(--clr-gray-80);
  margin-top: 20px;
}

#stranger-things main .episodes .season .dates {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 20px;
}

#stranger-things main .episodes .season .dates .subtitle {
  font-size: 1.1rem;
}

#stranger-things main .episodes .season .episode {
  background: var(--clr-white);
  gap: 1vw;
  margin-top: 20px;
}

#stranger-things main .episodes .season .episode .episode-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#stranger-things main .episodes .season .episode .episode-header .rating i {
  color: var(--clr-orange);
}

#stranger-things main .episodes .season .episode .episode-main {
  gap: 1vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#stranger-things main .episodes .season .episode .episode-main-section {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

#stranger-things main .episodes .season .episode .episode-main-section.thoughts {
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  overflow-wrap: break-word;
}

#stranger-things main .episodes .season .episode .episode-main-section.quotes li + li {
  margin-top: 0.25rem;
}
/*# sourceMappingURL=stranger-things.css.map */