/* ================================================================
about.php */

#about {
    --body-bg: var(--clr-white);

	.about-sections {
		flex-wrap: wrap;
		flex-basis: 100%;
		flex-grow: 1;

		#bio {
			width: 500px;
		}
	}
}