/* ================================================================
about.php */

#about {
    --body-bg: var(--clr-blue-light);

    main {
		padding-inline: 5vw;

        .about-sections {
            img {
                width: 15px;
            }

            &-row {
				justify-content: space-between;
				width: 100%;

                .about-section {
                    flex-direction: column;
                }
	
				#bio {
					width: 500px;
				}

                #hobbies {

                    &-carousel {
                        width: 200px;
                    }
                }
	
				#celebrities {
					width: 500px;

					.celebrity-container {
						flex-wrap: wrap;
					}
				}
            }
        }
    }
}
