/* ================================================================
index.php */

#index {
    --bg-color: var(--clr-purple);    

    &.bg-image {
        background-image: url("../images/backgrounds/flowers.jpeg");
        position: relative;

        &::before {
            background-color: var(--clr-gray-20-t);
            background-blend-mode: screen;
            content: "";
            position: absolute;
        }
    }

    .loader {
        background: var(--bg-color);
    }
/* 
    .navbar,
    main {
        background: var(--clr-gray-20-t);
    } */

    /* header */
    .homepage-header {
        background: var(--clr-white);
        border: 0px solid var(--clr-white);
        color: var(--clr-gray-20);
        margin: 0 20vw 3vw;
    }

    /* previews */
    .preview {
        color: var(--clr-gray-20);
        gap: 5vw;
        height: clamp(10px 20vw 30px);
        justify-content: space-between;
        overflow: auto;
        padding: 3vw 10vw;
        transition: var(--bg-transition);
    }

    .preview:nth-of-type(1) {
        background: var(--clr-pink-t);

        &:hover,
        &:focus {
            background: var(--clr-pink);
        }
    }

    .preview:nth-of-type(2) {
        background: var(--clr-purple-t);

        &:hover,
        &:focus {
            background: var(--clr-purple);
        }
    }

    .preview-image {
        aspect-ratio: 1 / 1;
        border: 1px solid var(--clr-white);
        object-fit: cover;
        width: 12vw;
    }

    figcaption {
        padding-top: 1vw;
    }

    .more {
        color: var(--clr-white);
        font-size: 1.2rem;
        transition: var(--transition-clr-text);
    }
}
