/* ================================================================
index.php */

#index {
    --body-bg: var(--body-bg-image);

    .loader {
        background: var(--clr-purple);
    }

    /* header */
    .homepage-header {
        background: var(--clr-white);
        border: 0px solid var(--clr-white);
        color: var(--clr-gray-20);
        margin: 0 20vw 3vw;
    }

    /* previews */
    .preview {
        color: var(--clr-gray-20);
        gap: 5vw;
        height: clamp(10px 20vw 30px);
        justify-content: space-between;
        overflow: auto;
        padding: 3vw 10vw;
        transition: var(--bg-transition);

        &:nth-of-type(1) {
            background: var(--clr-pink-t);

            &:hover,
            &:focus {
                background: var(--clr-pink);
            }
        }

        &:nth-of-type(2) {
            background: var(--clr-purple-t);

            &:hover,
            &:focus {
                background: var(--clr-purple);
            }
        }

        &:nth-of-type(3) {
            background: var(--clr-blue-light-t);

            &:hover,
            &:focus {
                background: var(--clr-blue-light);
            }
        }

        &-image {
            aspect-ratio: 1 / 1;
            border: 1px solid var(--clr-white);
            object-fit: cover;
            width: 12vw;
        }

        figcaption {
            padding-top: 1vw;
        }

        .more {
            color: var(--clr-white);
            font-size: 1.2rem;
            transition: var(--transition-clr-text);
        }
    }
}
