/* ================================================================
general */

:root {
    --clr-rosequartz: hsl(1, 74%, 88%);
    --clr-serenity: hsl(218, 68%, 75%);
    --bg-gradient: linear-gradient(to right, var(--clr-rosequartz), var(--clr-serenity));

    font-size: 15px;
}

#kpop {
    --body-bg: var(--bg-gradient);

    &,
    .loader {
        background: var(--body-bg);
    }

    h2 {
        padding-bottom: 1vw;
    }

    main {
        grid-column: 2 / 8;
        grid-row: 2 / 15;
        margin: 0 5vw 50px;
    }

    @media (min-width: 576px) {
        .modal-dialog {
            max-width: 500px;
        }
    }

    .modal {
        li {
            padding: 0.5vh;
        }

        .modal-img {
            border: 1px solid var(--clr-gray-40);
            border-radius: 5px;
            height: auto;
            object-fit: cover;
            width: 90%;
        }
    }

    .construction-gif {
        height: 20vw;
    }

    /* ================================================================
    #group-sidebar */

    #group-sidebar {
        display: flex;
        grid-column: 1;
        grid-row: 2 / 15;
        padding: 4vh 3vw;
        min-width: 150px;

        #group-nav {
            display: flex;
            flex-direction: column;
            height: 80vh;
            overflow: auto;

            /* scrollbar for group-nav */
            &::-webkit-scrollbar {
                width: 6px;
            }

            &::-webkit-scrollbar-track {
                border-radius: 10px;
                box-shadow: inset 0 0 4px var(--clr-gray-40);
            }

            &::-webkit-scrollbar-thumb {
                background: var(--clr-gray-40);
                border-radius: 10px;

                /* Handle on hover */
                &:hover {
                    background: var(--clr-gray-10);
                }
            }

            #group-nav-header,
            .nav-item {
                margin: 0.25vh 2vh;
            }

            .nav-item {
                border-radius: 5px;
                transition: var(--transition-clr-text), var(--transition-clr-bg), var(--transition-clr-border);

                &:hover {
                    background: var(--clr-black);

                    .nav-link {
                        color: var(--clr-white);
                    }
                }
            }

            #group-nav-header {
                border: 2px solid var(--clr-gray-10);
            }

            .nav-link {
                color: var(--clr-gray-10);
                padding: 0.5vh;
            }
        }
    }

    /* ================================================================
    sections */

    .kpop-section {
        margin: 5vw 0;

        &:not(#ults) {
            border: 1px solid var(--clr-gray-10);
            padding: 2vw;
        }
    }

    /* ================================================================
    #ults */

    #ults {
        gap: 2vw;
        justify-content: space-between;

        .ult {
            background: var(--clr-gray-10);
            border: 1px solid var(--clr-gray-10);
            color: var(--clr-white);
            flex-basis: 100%;
            flex-grow: 1;
            padding: 2vw;
            width: 100%;

            &-info {
                gap: 1vw;
                justify-content: space-evenly;
            }

            &-modal {
                color: var(--clr-gray-10);
            }

            &-btn,
            &-btn-img {
                aspect-ratio: 1 / 1;
                width: 15vw;
            }

            &-btn {
                border: none;
            }

            &-btn-img {
                border: 1px solid var(--clr-gray-20);
                object-fit: cover;
                transition: var(--transition-clr-border);

                &:hover,
                &:focus-visible {
                    border: 1px solid var(--clr-gray-80);
                }
            }
        }
    }

    /* ================================================================
    #groups */

    #groups {
        background: hsl(0, 0%, 60%);

        .group-category {
            background: hsl(0, 0%, 85%);
            border: 1px solid var(--clr-gray-10);
            padding: 2vw;

            &-button:hover {
                cursor: pointer;
            }

            /* only add margin to .group-category if there is another .group-category before it */
            & + .group-category {
                margin-top: 3vw;
            }

            .group {
                background: var(--clr-white);
                border: 1px solid var(--clr-gray-10);
                color: var(--clr-gray-10);
                padding: 2vw;

                /* only add margin to .group if there is another .group before it */
                & + .group {
                    margin-top: 3vw;
                }

                &:hover {
                    cursor: pointer;
                }

                &-image-btn {
                    border: none;

                    &:hover {
                        aspect-ratio: 1 / 1;
                        border: none;
                        width: 20px;
                    }
                }

                /* .group-stats */
                &-stats {
                    justify-content: space-evenly;
                }

                /* .group-info */
                &-info {
                    border: 0 solid var(--clr-gray-10);
                    gap: 1vw;
                    margin-top: 1vw;

                    .group-property {
                        border: 1px solid var(--clr-gray-80);
                        border-radius: 7px;
                        color: var(--clr-gray-10);
                        flex-basis: 100%;
                        flex-grow: 1;
                        padding: 1vw 0;
                        transition: var(--transition-clr-text), var(--transition-clr-bg), var(--transition-clr-border);

                        &:hover {
                            background: var(--clr-gray-10);
                            color: var(--clr-white);
                        }
                    }
                }
            }
        }
    }

    /* ================================================================
    #content-dashboard */

    #content-dashboard {
        background: hsl(0, 0%, 60%);

        .content-table {
            &,
            * {
                margin: 0 auto;
            }

            table {
                * {
                    padding: 0.75vw;
                }

                tbody {
                    border-top: 3px solid var(--clr-gray-10);
                }

                th,
                td {
                    border: 1px solid var(--clr-gray-10);
                }

                th {
                    background: var(--clr-gray-90);
                }

                td {
                    background: var(--clr-white);

                    &.group-name-table {
                        background: var(--clr-gray-90);
                    }

                    &.content {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
}
