/* ================================================================
general */

#kpop {
    main {
        grid-column: 1 / 8;
    }

    .dir-change {
        width: 100%;

        &#ults,
        &:not(#ults) > * {
            flex-basis: 100%;
            width: 100%;
        }
    }

    /* ================================================================
    #group-sidebar */

    #group-sidebar {
        display: none;
    }

    /* ================================================================
    sections */

    .kpop-section {
        max-width: 100%;
    }

    /* ================================================================
    #ults */

    #ults {
        .ult {
            /* only add margin to .ult if there is another .ult before it */
            & + .ult {
                margin-top: 3vw;
            }

            .ult-btn-img {
                width: 100%;
            }
        }
    }

    /* ================================================================
    #groups */

    /* ================================================================
    #content-dashboard */

    #content-dashboard {
        .content-table {
            overflow: auto;
            width: 85vw;
        }
    }
}
