:root {
	--spacing: 15px;
}

body {
	background-color: var(--clr-red);

	main {
		padding: 50px 15vw;

		.posts {
			gap: 5vh;
			margin-top: 5vh;

			&#spotlights {
				border: 1px dashed var(--clr-gray-40);
				padding: var(--spacing);
			}

			.post {
				align-items: center;
				background-color: var(--clr-blue-light);
				border: 1px solid var(--clr-gray-10);
				border-radius: 10px;
				gap: var(--spacing);
				justify-content: space-between;
				padding: var(--spacing);

				&-image-src {
					aspect-ratio: 1 / 1;
					border: 1px solid var(--clr-gray-40);
					border-radius: 5px;
					object-fit: cover;
					height: clamp(30px, 100%, 100px);
					width: auto;
				}

				&-text {
					padding-inline: calc(var(--spacing) * 2);
				}
			}

		}

	}

}