/* ================================================================
general */

#stranger-things {
    --bg-color: var(--clr-black);
    color: var(--clr-white);

    &,
    .loader {
        background: var(--bg-color);
    }

    h1 {
        color: var(--clr-red-bright);
        text-shadow: 0 0 0.125em hsla(0, 0%, 100%, 0.3), 0 0 0.45em var(--clr-red-bright);
    }

    h2 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.3rem;
    }

    main {
        padding: 50px 20vw;
    }

    #intro {

        .no-link-color {
            color: var(--theme-dark-text);


        }

        #plot {
            margin: 40px 0;
        }

    }


    /* season */
    .season {
        background: var(--clr-white);
        border: 1px solid var(--clr-gray-40);
        color: var(--clr-black);
        padding: 2vw 3vw;


        /* space between seasons */
        &:not(:first-of-type) {
            margin-top: 50px;
        }

    }

    /* character */
    .character {
        padding: 20px 0;

        /* horizontal line between every character */
        &:not(:last-child) {
            border-bottom: 1px solid var(--clr-gray-60);
        }

        .no-link-color {
            color: var(--clr-black);
        }

        /* character image and name */
        &-image-name {
            width: 40%;

            /* character image carousel */
            .character-image-carousel {
                margin: auto auto 10px;
                width: 80%;

                &,
                .character-image {
                    aspect-ratio: 2 / 3;
                }

                .character-image {
                    object-fit: cover;
                }

                /* don't hide season caption on mobile */
                .carousel-caption.d-none {
                    display: block !important;
                    font-size: 1rem;
                }

            }

        }

        /* character description */
        &-description {
            line-height: 1.5;
            padding-left: 2vw;
            width: 60%;

            /* character description items */
            &-item {
                margin-bottom: 5px;
            }

        }

    }

}